@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;400&display=swap');

:root {
    --bg-color: rgb(27,33,34);
    --accent-color: rgb(40,56,54);
    --primary-text-color: rgb(255,255,255);
}

body {
    background-color: var(--bg-color);
}

.hamburger {
    z-index: 9999;
    width: 50px;
    cursor: pointer;
    display: block;
    position: fixed;
    top: .2em;
    transform: translateY(25%);
    right: 3em;
    /* padding-top: 2px; */
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
    
  }

  /* ANIMATIONS */

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .mobile-nav {
    
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 50%;
    height: 100vh;
    gap: 5em;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    transform: translateX(100%);
    transition: transform 350ms ease;
    list-style: none;
    justify-content: center;
    width: 100%;
    float: right;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
  }

  .mobile-nav[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 15px;
    font: weight 4px;
    transition: 0.5s;
    height: 26px;
    border-radius: 8px;
  }

  .mobile-nav a:hover {
    background-color: var(--turq-color);
    color: #f5f5f5;
    opacity: 60%;
    height: 26px;
    z-index: 10;
    border-radius: 8px;
    padding: 2px;
  }
